# Python Basics NoteBook

In [12]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [77]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]

id = "513"
print("Customer id = ", id)

Customer id =  513

In [11]:
#Run the following statement, why there is an error

id=id+1
# can only concatenate str to str, (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [19]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id

new_id= int(id) + 1
new_id

514

In [74]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print(
"""Twinkle, twinkle, little star, 
      How I wonder what you are! 
         Up above the world so high, 
             Like a diamond in the sky."""
)

Twinkle, twinkle, little star,
      How I wonder what you are!
         Up above the world so high,
             Like a diamond in the sky.

In [43]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
course[0]

'P'

In [45]:
# Print the element on the 13th index in the string
course[13]

't'

In [46]:
# Find the length of string
len(course)

23

In [47]:
# Print the last element in the string [use negative index]
course[-1]

'e'

In [48]:
# Take the slice on variable course with only index 11 to index 14
course[11:15]

'Data'

In [51]:
# Get every third element in the range from index 0 to index 20
course[:21:3]

'Ph ra i'

In [54]:
# Concatenate course string with ", AI & Development"
courseconcat = course + " AI & Development"
print(courseconcat)

Python for Data Science AI & Development

In [55]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course.replace(" ", "_")

'Python_for_Data_Science'

In [57]:
# Convert all the characters in string to upper case
course2 = course.upper()
print(course2)

PYTHON FOR DATA SCIENCE