In [2]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple = ("NPower","JDA","Tuesday", 30, 3,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [3]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [4]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [7]:
#Q4 print the values in each index #Use regular indexing 
print(myTuple[0:6])
print(myTuple[0])
print(myTuple[1])
print(myTuple[2])
print(myTuple[3])
print(myTuple[4])
print(myTuple[5])

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)
NPower
JDA
Tuesday
30
3
2021

In [17]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[::-1])
print(myTuple[-1])
print(myTuple[-2])
print(myTuple[-3])
print(myTuple[-4])
print(myTuple[-5])
print(myTuple[-6])

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')
2021
3
30
Tuesday
JDA
NPower

In [28]:
#Q6 what is the type of each value
print(
      myTuple[0], '=', type(myTuple[0]), "\n", 
      myTuple[1], '=', type(myTuple[1]), "\n",
      myTuple[2], '=', type(myTuple[2]), "\n",
      myTuple[3], '=', type(myTuple[3]), "\n",
      myTuple[4], '=', type(myTuple[4]), "\n",
      myTuple[5], '=', type(myTuple[5])
    )

NPower = <class 'str'>
 JDA = <class 'str'>
 Tuesday = <class 'str'>
 30 = <class 'int'>
 3 = <class 'int'>
 2021 = <class 'int'>

In [31]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name,program,dayName,month,day,year = myTuple
print(name, program, dayName, month, day, year)

NPower JDA Tuesday 30 3 2021

In [40]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2=("Jerry",2,89)
name, program, dayName = myTuple2
print(name, program, dayName, month, day, year)

#Name, program and dayName now have new values, while the month, day and year has the same values as before

Jerry 2 89 30 3 2021

In [36]:
# Note the following
Tuple1 = ("Jerry",2, 89) #This is a tuple with 3 elements 
Tuple2 = ("Ulan") #This is a tuple with 1 element
test = "Leul" #This is a VARIABLE with string value

a, b, c = Tuple1
print("Type a",type(a))
print(a, b, c)

d = Tuple2
print(type(d))
print(d)

e = test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'str'>
Ulan
Leul

In [37]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple = (1, 2, 3)
print(testTuple)

testTuple = (4, 5, 6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [43]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
myTupleReversed = myTuple[::-1]

print(myTuple)
print(myTupleReversed, '\n\n')

#creating a function to reverse tuple

def reverseFunc(reverseTuple):
    return reverseTuple[::-1]

print(reverseFunc(myTuple))

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)
(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')


(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [44]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [45]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [46]:
#Q12 print each element in the nestedTuple
nestedTuple[:]

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [47]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [48]:
#Q14 Access "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [49]:
#Q15 Access "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [50]:
#Q16 Access "course" from nestedTuple
nestedTuple[0][1]

'course'

In [64]:
#Q17 Concatenate myTuple with nestedTuple
myTuple = myTuple + nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [65]:
#Q18 add your name to the tuple

myTuple = myTuple + ('Gilmara',)
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Gilmara')

In [66]:
#Q19 check whether Coursera exists within a myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output
'coursera' in myTuple

False

In [67]:
#Q20 check whether an element exists within a testTuple
4 in testTuple

True

In [76]:
#Q21 Find the index of JDA in myTuple
print(myTuple.index('JDA'))

# Find the index of 'Coursera' in myTuple

def findIndices(item, tup):
     indices = []
     for index, elem in enumerate(tup):
          if item == elem:
               indices.append(index)
               return indices
          elif isinstance(elem,tuple):
               indices.append(index)
               return indices + findIndices(item,elem)

print(findIndices('Coursera',myTuple))

# NOTE index doesn't work properly with nested tuples # Wrong output

1
[6, 0]

In [70]:
#Q22 print index 8 from myTuple
myTuple[8]

'Gilmara'

In [74]:
#Q23 Get the 4th element and 4th element from last of a myTuple
#I didn't understand very well '4th element and 4th element' (Typo?)
#I don't think I understand what the question wants exactly
myTuple[4]

3

In [75]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
myTuple.count(27)

0