In [1]:
#Q1 Create a tuple with all participant names in the JDA program

jdaPart = ('Adam', 'Akinkya', 'Akash', 'Alka', 'Chloe', 'Dami', 'Divya', 'Edward', 'Garav', \
           'Gilmara', 'Imara', 'Jainam', 'Leul', 'Mehrnaz', 'Muhammad', 'Olaolusubomi', 'Pray', 'Rasha'\
          'Riley', 'Romita', 'Saloni', 'Saman', 'Santhiya', 'Sydney', 'Sowjanya', 'Suganya', 'Sunint', 'Temitope', \
          'Tony', 'Ulan', 'Winnie', 'Jerry')

In [35]:
#Q2 Convert the tuple into a list called pps_L
jdaList = list(jdaPart)
jdaList

['Adam',
 'Akinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Garav',
 'Gilmara',
 'Imara',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'RashaRiley',
 'Romita',
 'Saloni',
 'Saman',
 'Santhiya',
 'Sydney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry']

In [29]:
#Q3 What is the length of your list 
len(jdaList)

31

In [31]:
#Q4 Find the values stored in indexes [3],[5],[14],[30],[38]

print(jdaList[3], jdaList[5], jdaList[14], jdaList[30])

print([jdaList[38]])
#There is nothing stored in index [38]

Alka Dami Muhammad Jerry

IndexError: list index out of range

In [33]:
#Q5 Check if "Sarah" is in the list

'Sarah' in jdaList

True

In [36]:
#Q6 Add "Sarah" to your list

jdaList.extend(['Sarah'])
jdaList

['Adam',
 'Akinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Garav',
 'Gilmara',
 'Imara',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'RashaRiley',
 'Romita',
 'Saloni',
 'Saman',
 'Santhiya',
 'Sydney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry',
 'Sarah']

In [37]:
#Q7 Check if "Bashir" is in the list

'Bashir' in jdaList

False

In [38]:
#Q9 Add "Bashir" to your list

jdaList.extend(['Bashir'])

In [39]:
#Q10 Find the index of the element "Sarah" in the list

jdaList.index('Sarah')

31

In [40]:
#Q11 Change the value of the index in Q10 from "Sarah" to "Instructor"

jdaList[31] = 'Instructor'

In [41]:
#Q12 Find the index of the element "Bashir" in the list

jdaList.index('Bashir')

32

In [42]:
#Q13 Change the value of the index in Q12 from "Bashir" to "Peer-Mentor"
jdaList[32] = 'Peer-Mentor'

In [43]:
jdaList

['Adam',
 'Akinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Garav',
 'Gilmara',
 'Imara',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'RashaRiley',
 'Romita',
 'Saloni',
 'Saman',
 'Santhiya',
 'Sydney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry',
 'Instructor',
 'Peer-Mentor']